@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./assets/nubelson-fernandes-iE71-TMrrkE-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 60px;
}

nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

li:hover {
    color: #D870DB;
}

.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.content-container {
    height: 100vh;
    background-color: #333;
}

.profile-container {
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/akin-cakiner-xKBmqz66gEs-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-content {
    width: 30%;
}

.profile-card {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    width: 350px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}

.profile-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #D870DB;
}

.name-text {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    margin-top: 15px;
}

.profile-text {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.profile-button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #D870DB;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: 35px;
    cursor: pointer;
}

.divider {
    width: 100%;
    border-top: .5px solid #bfbfbf;
    margin: 20px 0;
}

.icons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.icon-item {
    width: 80px;
    height: auto;
}

.profile-sinopse {
    width: 430px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 17px;
    margin-left: 150px;
}

.project-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/projectbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-content {
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

.position-container {
    width: 100%;
    display: flex;
}

.right  {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.project-card {
    width: 700px;
    height: 200px;
    background-color: #000;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.card-reverse {
    flex-direction: row-reverse;
}

.project-image {
    width: 350px;
    height: auto;
    position: relative;
    border-radius: 8px;
    right: 20px;
    top: 40px;
}

.image-reverse {
    left: 20px;
}

.project-text {
    color: white;
    font-family: 'Oswald', sans-serif;
}

.form-container {
    height: 100vh;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/tumblr_static_44zeojouwp44k4w088ccgcow0.jpg');
    background-position: 85% 50%;
}

.form-box {
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    color: inherit;
  }
  
.form {
width: 400px;
height: 500px;
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}

.form .form_input {
flex: 1 1 300px;
margin: 10px;
border: none;
padding: 20px;
border-radius: 10px;
background-color: #E6E6E6;
outline: 3px solid transparent;
transition: outline .2s, flex-basis .2s;
font-size: 16px;
}

.form .form_input:nth-child {
flex: 3 1 300px;
}

.form .form_input:hover,
.form .form_input:focus {
outline: 3px solid #708DFD;
}

.form .form_submit {
position: relative;
top: -5px;
flex: 1 1 100px;
margin: 10px;
cursor: pointer;
border: none;
padding: 20px;
border-radius: 10px;
background-color: #708DFD;
color: #FFFFFF;
box-shadow: 0 12px 7px -5px rgba(0,0,0,0.35);
transition: box-shadow .2s, top .2s, background-color .2s, flex-basis .2s;
font-size: 16px;
}

.form .form_submit:hover,
.form .form_submit:focus {
box-shadow: 0 0 0 0 rgba(0,0,0,0.35);
top: 0;
}

.form .form_submit:focus {
background-color: #4A65CE;
outline: 0;
}